{% extends 'user_layout/base.html' %}

{% block page_title %}
  {{ artikel.judul }}
{% endblock %}

{% block content %}
<div class="container-fluid">
	<center>
		<h1>Ini Halaman Detail</h1>
	</center>

	<div class="row">
		<div class="col-md-9">
			<div class="card-disable">
				<div class="card-body">
				<h1 class="text-center">{{ artikel.judul }}</h1>
				<img class="card-img card-img-left" src="{{ artikel.image.url }}" alt="Card image" width="800px" height="460px" />
				<p>kategori : {{ artikel.kategori }} | {{ artikel.publikasi }}</p>
				<p>{{ artikel.Deskripsi }}</p>
				</div>
			</div>
		</div>
		<div class="col-sm">
            <div class="card" style="background-color: #4000ff;">
              <h5 class="card-header text-light"><b>Kategori Lainnya</b></h5>
              <div class="card-body">
                    <a href="/artikel" class="text-white"><b>Semua Kategori</b><hr>
                {% for kategorilain in kategori %}
                    {% if kategorilain.kategori != kategori_Artikel %}
                        <a href="/kategori/{{ kategorilain.kategori }}" class="text-white">{{ kategorilain.kategori }}</a><hr>
                    {% endif %}
                {% endfor %}
              </div>
            </div>
            <br>
            <div class="card" style="background-color: #4000ff;">
                <h5 class="card-header text-light"><b>Artikel Serupa</b></h5>
                <div class="card-body">
                    {% for kategorilain in kategori %}
                        {% if forloop.counter <= 5 %}
                            <a href="{% url 'detail' slug_Artikel=kategorilain.slug %}" class="text-white">{{ kategorilain.judul }}</a><hr>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
	</div>

</div>


{% endblock %}