{% extends 'layouts/base.html' %}

{% block page_title %}
	Edit Organisais - Kemahasiswaan Poltek Aceh
{% endblock %}

{% block content %}
<div class="container-xxl flex-grow-1 container-p-y">
	<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Organisasi /</span> Edit Organisasi</h4>
	<div class="card">
		<div class="card-header py-3">
		    <h6 class="m-0 font-weight-bold text-primary">Edit Data Organisasi</h6>
		</div>
		<div class="card-body">
			<div class="container">
				<div class="row">
					<div class="col-md">
						<h3 class="font-weight-bold">Apa anda ingin mengubah : {{ organisasi.organisasi }}</h3><br>

						{% for message in messages %}
						{% if messages %}
						<div class="alert alert-success alert-dismissible" role="alert">
							<i class='bx bxs-check-square'></i>
							{{ message }}
							<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
						</div>
						{% endif %}
						{% endfor %}
						<form action="{% url 'Edit_Organisasi' organisasi.id_organisasi %}" method="post">
							{% csrf_token %}
							<div class="row mb-3">
								<label class="col-sm-2" for="basic-default-name">Organisasi</label>
								<div class="col-sm-10">
									{{ form.organisasi }}
								</div>
							</div>
							<div class="row mb-3">
								<label class="col-sm-2" for="basic-default-name">Visi Organisasi</label>
								<div class="col-sm-10">
									{{ form.visi }}
								</div>
							</div>
							<div class="row mb-3">
								<label class="col-sm-2" for="basic-default-name">Misi Organisasi</label>
								<div class="col-sm-10">
									{{ form.misi }}
								</div>
							</div>
							<div class="row mb-3">
								<label class="col-sm-2" for="basic-default-name">Upload Logo</label>
								<div class="col-sm-10">
									{{ form.logo }}
								</div>
							</div>
							<div class="row mb-3">
								<label class="col-sm-2 col-form-label" for="basic-default-name">Image Preview</label>
								<div class="col-sm-10">
									<img id="image-preview" style="max-width: 300px; max-height: 200px;" />
								</div>
							</div>

							<div class="row mb-3">
								<label class="col-sm-2" for="basic-default-name">Status Organisasi</label>
								<div class="col-sm-10">
									{{ form.status }}
								</div>
							</div>
							<div class="row justify-content-end">
								<div class="col-sm-10">
									<button type="submit" class="btn btn-primary">Save<i class='bx bxs-save px-1'></i></button>
									<a href="/organisasi" class="btn btn-danger">Kembali</a>		
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>						
</div>
<script>
	function previewImage(event) {
		var reader = new FileReader();
		reader.onload = function() {
			var imagePreview = document.getElementById('image-preview');
			imagePreview.src = reader.result;
		}
		var selectedFile = event.target.files[0];
		reader.readAsDataURL(selectedFile);
	}
</script>

{% endblock %}
