{% extends 'layouts/base.html' %}

{% block page_title %}
Halaman Prestasi - Kemahasiswaan Poltek Aceh
{% endblock %}

{% block content %}
<div class="container-xxl flex-grow-1 container-p-y">
  <h4 class="fw-bold py-3 mb-4">
    <span class="text-muted fw-light">Prestasi /</span> Prestasi Mahasiswa
  </h4>
  <div class="card">
    <div class="card-body">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="row mb-4">
              <!-- Tambah data -->
              <div class="col-md-5">
                <h3>
                  Tambah Data :
                  <a href="/tambah-prestasi" class="btn btn-success btn-sm justify-content-end">Tambah +</a>
                </h3>
              </div>
            </div>
            </div>

            {% for message in messages %}
            {% if messages %}
            <div class="alert alert-success alert-dismissible" role="alert">
              <i class='bx bxs-check-square'></i>
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}
            {% endfor %}

            <!-- Start Tabel -->
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr role="row">
                  <th>No</th>
                  <th>NIM</th>
                  <th>Nama</th>
                  <th>Prodi</th>
                  <th>Prestasi</th>
                  <th>Tanggal</th>
                  <th>Tingkat</th>
                  <th>Juara</th>
                  <th scope="col" style="width: 8rem;">Action</th>
                </tr>
              </thead>
              <tbody>
                {% for tb_prestasi in pretasi %}
                <tr>
                  <td class="text-center">{{ forloop.counter }}</td>
                  <td>{{ tb_prestasi.nim }}</td>
                  <td>{{ tb_prestasi.nama }}</td>
                  <td>{{ tb_prestasi.prodi }}</td>
                  <td>{{ tb_prestasi.prestasi }}</td>
                  <td>{{ tb_prestasi.tanggal }}</td>
                  <td>{{ tb_prestasi.tingkat }}</td>
                  <td>{{ tb_prestasi.juara }}</td>
                  <td>
                    <center>
                      <a href="{% url 'Edit_prestasi' nim_Prestasi=tb_prestasi.nim %}"><i class="menu-icon tf-icons bx bxs-edit" style="color: #ffcc00;"></i></a>
                      <i type="button" class="menu-icon tf-icons bx bxs-trash" data-bs-toggle="modal" data-bs-target="#hapus-{{ tb_prestasi.nim }}" style="color: #b30000;"></i>
                    </center>
                  </td>
                  <div class="modal" tabindex="-1" id="hapus-{{ tb_prestasi.nim }}">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Hapus</h5>
                        </div>
                        <div class="modal-body">
                          Apakah anda yakin ingin menghapus <strong>{{ tb_prestasi.nama | upper }}</strong>?
                        </div>
                        <div class="modal-footer">
                          <a href="{% url 'hapus_prestasi' tb_prestasi.nim %}" class="btn btn-danger">Hapus</a>
                          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Batal</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </tr>
                {% empty %}
                <tr>
                  <td colspan="8" class="text-center">
                    <div class="misc-wrapper">
                      <h2 class="mb-2 mx-2">Data Not Found :(</h2>
                      <p class="mb-4 mx-2">Oops! 😖 The requested Data was not found on this server.</p>
                      <a href="/prestasi" class="btn btn-primary">Kembali</a>
                      <div class="mt-3">
                        <img
                        src="/static/img/illustrations/page-misc-error-light.png"
                        alt="page-misc-error-light"
                        width="500"
                        class="img-fluid"
                        data-app-dark-img="illustrations/page-misc-error-dark.png"
                        data-app-light-img="illustrations/page-misc-error-light.png"
                        />
                      </div>
                    </div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <!-- End tabel -->
          </div>

          <!-- Page Halaman -->
          <div class="col-md d-flex justify-content-end pt-5">
            {% if pretasi.has_other_pages %}
            <nav aria-label="Pagination">
              <ul class="pagination">

                {% if pretasi.has_previous %}
                <li class="page-item">
                  <a class="page-link" href="/prestasi?page={{ pretasi.previous_page_number }}">Previous</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                  <a class="page-link">Previous</a>
                </li>
                {% endif %}

                {% for page in pretasi.paginator.page_range %}
                {% if pretasi.number == page %}
                <li class="page-item active" aria-current="page">
                  <span class="page-link">{{ page }}</span>
                </li>
                {% else %}
                <li class="page-item">
                  <a class="page-link" href="/prestasi?page={{ page }}">{{ page }}</a>
                </li>
                {% endif %}
                {% endfor %}

                {% if pretasi.has_next %}
                <li class="page-item">
                  <a class="page-link" href="/prestasi?page={{ pretasi.next_page_number }}">Next</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                  <a class="page-link">Next</a>
                </li>
                {% endif %}

              </ul>
            </nav>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
