{% extends 'layouts/base.html' %}

{% block page_title %}
Dashboard - Kemahasiswaan Poltek Aceh
{% endblock %}

{% block content %}
    <h3>Welcome to Dasboard</h3>

    {% if user.is_authenticated %}
    <h3>Hello {{ user }}</h3>
    <h4>You're successfully Logged in</h4>
    <button type="submit"><a href="/logout">SignOut</a></button>

    {% else %}
    <button type="submit"><a href="/signup">SignUp</a></button>
    <button type="submit"><a href="/signin">SignIn</a></button>
    {% endif %}

{% endblock %}
