{% extends 'layouts/base.html' %}

{% block page_title %}
  Halaman Anggota Organisasi - Kemahasiswaan Poltek Aceh
{% endblock %}

{% block content %}
    <!-- <div class="col-md px-5"> -->

      <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Anggota/</span>Anggota Organisasi Politeknik Aceh</h4>
          <!-- start Card -->
          <div class="card">
          <div class="card-body">
          <div class="container">
            <div class="row mb-4">
              <div class="col-md-12">
                <div class="row mb-4">
                  <div class="col-md-5">
                     <h3>
                      Tambah Data : 
                      <a href="/tambah-anggota" class="btn btn-success btn-sm justify-content-end">Tambah +</a>
                    </h3>
                  </div>
                </div>

                  {% for message in messages %}
                    {% if messages %}
                      <div class="alert alert-success alert-dismissible" role="alert">
                          <i class='bx bxs-check-square'></i>
                            {{ message }}
                          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                       </div>
                    {% endif %}
                  {% endfor %}
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead class="text-center">
                  <tr role="row">
                    <th>No.</th>
                    <th>NIM</th>
                    <th>Nama</th>
                    <th>Organisasi</th>
                    <th>Foto</th>
                    <th>Jabatan</th>
                    <th>Prodi</th>
                    <th scope="col" style="width: 8rem;">Detail</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for tb_anggota in anggota %}
                    <tr>
                      <td class="text-center">{{ forloop.counter }}</td>
                      <td>{{ tb_anggota.nim }}</td>
                      <td>{{ tb_anggota.nama }}</td>
                      <td>{{ tb_anggota.organisasi }}</td>
                      
                      {% if tb_anggota.foto %}
                          <td>
                              <img src="{{ tb_anggota.foto.url }}" class="img-profile rounded-circle" style="width: 45px; height: 45px;"/>
                          </td>
                      {% else %}
                          <td class="d-flex justify-content-center">No image available</td>
                      {% endif %}
                      <td>{{ tb_anggota.jabatan }}</td>
                      <td>{{ tb_anggota.prodi }}</td>
                      <td>
                        <center>
                          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#detail-{{ tb_anggota.nim }}">
                            Detail
                          </button>
                        </center>
                      </td>
                        <!-- Modal -->
                        <div class="modal fade" id="detail-{{ tb_anggota.nim }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-scrollable">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title">Detail</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                <div class="text-center">
                                  <img src="{{ tb_anggota.foto.url }}" class="rounded-circle" width="90px" height="90px"/><br>
                                  <h4>{{ tb_anggota.nama }}</h4>
                                  <h6>{{ tb_anggota.nim }}</h6>
                                  <hr>
                                </div>
                                <div class="row">
                                  <div class="col">
                                    <h5>Organisasi</h5>
                                    <h6>{{ tb_anggota.organisasi }}</h6>
                                    <hr>
                                    <h5>Program Studi</h5>
                                    <h6>{{ tb_anggota.prodi }}</h6>
                                    <hr>
                                  </div>
                                  <div class="col">
                                    <h5>Jabatan</h5>
                                    <h6>{{ tb_anggota.jabatan }}</h6>
                                    <hr>
                                    <h5>Angkatan</h5>
                                    <h6>{{ tb_anggota.angkatan }}</h6>
                                    <hr>
                                  </div>
                                </div>
                              <div class="modal-footer">
                                <a href="{% url 'Edit_Anggota' id_anggota_Anggota_Organisasi=tb_anggota.id_anggota %}" type="button" class="btn btn-warning">Edit<i class="menu-icon tf-icons bx bxs-edit px-1"></i></a>
                                <a href="{% url 'Hapus_Anggota' tb_anggota.id_anggota %}" type="button" class="btn btn-danger">Hapus<i class="menu-icon tf-icons bx bxs-trash px-1"></i></a>
                              </div>
                            </div>
                          </div>
                         </div>
                      </div>

                  {% empty %}
                      <td colspan="8" class="text-center">
                          <div class="misc-wrapper">
                            <h2 class="mb-2 mx-2">Data Not Found :(</h2>
                            <p class="mb-4 mx-2">Oops! 😖 The requested Data was not found on this server.</p>
                            <a href="/anggota-organisasi" class="btn btn-primary">Kembali</a>
                            <div class="mt-3">
                              <img
                                src="/static/img/illustrations/page-misc-error-light.png"
                                alt="page-misc-error-light"
                                width="500"
                                class="img-fluid"
                                data-app-dark-img="illustrations/page-misc-error-dark.png"
                                data-app-light-img="illustrations/page-misc-error-light.png"
                              />
                            </div>
                          </div>
                      </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>      
              </div>
            </div>
          </div>
        </div>

        </div>
      <!-- End Card -->
      </div>
  
{% endblock %}
