{% extends 'layouts/base.html' %}

{% block page_title %}
Halaman Penerima Beasiswa - Kemahasiswaan Poltek Aceh
{% endblock %}

{% block content %}
<div class="container-xxl flex-grow-1 container-p-y">
  <h4 class="fw-bold py-3 mb-4">
    <span class="text-muted fw-light">Penerima Beasiswa /</span> Data Penerima Beasiswa 
  </h4>
  <div class="card">
    <div class="card-body">
      <div class="container">
        <div class="row mb-4">
          <div class="col-md-12">
            <div class="row">
              <!-- Tambah data -->
              <div class="col-md-5">
                <h3>
                  Tambah Data :
                  <a href="/tambah-penerima-beasiswa" class="btn btn-success btn-sm justify-content-end">Tambah +</a>
                </h3>
              </div>
            </div>
            <!-- END tambah data -->

            {% for message in messages %}
            {% if messages %}
            <div class="alert alert-success alert-dismissible" role="alert">
              <i class='bx bxs-check-square'></i>
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}
            {% endfor %}

            <!-- Start Tabel -->
          <div class="table-responsive text-nowrap"> 
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>No</th>
                  <th>NIM</th>
                  <th>Nama</th>
                  <th>Prodi</th>
                  <th class="text-center">Angkatan</th>
                  <!-- <th>Beasiswa</th> -->
                  <th>Status</th>
                  <th scope="col" style="width: 8rem;">Action</th>
                </tr>
              </thead>
              <tbody>
                {% for tb_penerima in penerima %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{ tb_penerima.nim }}</td>
                  <td>{{ tb_penerima.nama }}</td>
                  <td>{{ tb_penerima.prodi }}</td>
                  <td class="text-center">{{ tb_penerima.angkatan }}</td>
                  <!-- <td>{{ beasiswa.beasiswa }}</td> -->
                  <td>{{ tb_penerima.status }}</td>
                  <td>
                    <center>
                      <!-- <a href="{% url 'edit_penerima' tb_penerima.nim %}" class="btn btn-warning">
                        <i class="bx bxs-edit"></i>
                      </a> -->
                      <a href="{% url 'edit_penerima' tb_penerima.nim %}" class="btn btn-warning">
                        <i class="bx bxs-edit"></i>
                      </a>
                      <a href="{% url 'detail_penerima' tb_penerima.nim %}" class="btn btn-primary">
                        <i class='bx bx-show-alt'></i>
                      </a>
                      <a href="" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#hapus-{{ tb_penerima.nim }}"> 
                        <i class="bx bxs-trash"></i>
                      </a>
                    </center>
                  </td>
                  <!-- Modal Hapus -->
                  <div class="modal" tabindex="-1" id="hapus-{{ tb_penerima.nim }}">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Hapus</h5>
                        </div>
                        <div class="modal-body">
                          Apakah anda yakin ingin menghapus data beasiswa dari <strong>{{ tb_penerima.nama | upper }}</strong>?
                        </div>
                        <div class="modal-footer">
                          <a href="{% url 'Hapus_Penerima' nim_Penerima_Beasiswa=tb_penerima.nim %}" class="btn btn-danger">Hapus</a>
                          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Batal</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
            <!-- End tabel -->
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
