{% extends 'layouts/base.html' %}

{% block page_title %}
  Tambah Artikel - Kemahasiswaan Poltek Aceh
{% endblock %}

{% block content %}

<div class="container-xxl flex-grow-1 container-p-y">
  <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Artikel /</span> Tambah Artikel Baru</h4>
  <div class="card">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Buat Artikel Politeknik Aceh</h6>
    </div>
    <div class="card-body">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            {% if pesan %}
            <div class="alert alert-success alert-dismissible" role="alert">
              <i class='bx bxs-check-square'></i>
              {{ pesan }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}
            {% if pesan2 %}
            <div class="alert alert-danger alert-dismissible" role="alert">
              <i class='bx bxs-error'></i>
              {{ pesan2 }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}
            
            <form action="/tambah-artikel/" method="post" enctype="multipart/form-data"> 
              {% csrf_token %}
              <div class="row mb-3">
                <label class="col-sm-2 col-form-label" for="basic-default-name">Judul</label>
                <div class="col-sm-10">
                  <input type="text" name="judul" class="form-control" id="basic-default-name" placeholder="judul artikel"/>
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-sm-2 col-form-label" for="basic-default-name">Kategori</label>
                <div class="col-sm-8 mb-3">
                  {{ form.kategori }}
                </div>
                <div class="col-sm mb-3">
                  <a class="btn btn-success" href="/tambah-kategori"><i class='bx bx-plus-medical'></i></a>
                </div>
                <div class="col-sm mb-3">
                  <a class="btn btn-danger" href="/hapus-kategori"><i class='menu-icon tf-icons bx bxs-trash'></i></a>
                </div>
              </div>
            <div class="row mb-3">
              <label class="col-sm-2 col-form-label" for="basic-default-name">Upload Image</label>
              <div class="col-sm-10">
                <input type="file" name="image" class="form-control" id="upload-image" accept="image/*" onchange="previewImage(event)"/>
              </div>
            </div>

            <div class="row mb-3">
              <label class="col-sm-2 col-form-label" for="basic-default-name">Image Preview</label>
              <div class="col-sm-10">
                <img id="image-preview" style="max-width: 300px; max-height: 200px;" />
              </div>
            </div>
              <div class="row mb-3">
                <label class="col-sm-2 col-form-label" for="basic-default-name">Deskripsi</label>
                <div class="col-sm">
                 <!-- {{ form.Deskripsi }} -->
                 <textarea name="Deskripsi" id="textarea1" class="form-control" hight="300px">              
                 </textarea>
               </div>
             </div>
             <div class="row mb-3">
                <label class="col-sm-2 col-form-label" for="basic-default-name">Status</label>
                <div class="col-sm-4">
                 {{ form.status }} 
               </div>
             </div>

            <div class="row justify-content-end">
              <div class="col-sm-10">
                <!-- <button type="submit" name="action" value="draft" class="btn btn-secondary">Save as Draft</button>
                <button type="submit" name="action" value="publish" class="btn btn-primary">Publish</button> -->
                <button type="submit" class="btn btn-primary">Save<i class='bx bxs-save px-1'></i></button>
                <a href="/tabel-artikel" class="btn btn-success">Kembali</a>                               
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>
</div>

<script>
  function previewImage(event) {
    var reader = new FileReader();
    reader.onload = function() {
      var imagePreview = document.getElementById('image-preview');
      imagePreview.src = reader.result;
    }
    var selectedFile = event.target.files[0];
    reader.readAsDataURL(selectedFile);
  }
</script>
<script src="https://cdn.ckeditor.com/4.21.0/full/ckeditor.js"></script>
<script>
    CKEDITOR.replace( 'textarea1' );
</script>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
